<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/main.css" rel="stylesheet" media="all">
  -->
<!-- <script>
      angular.module('formValidationApp', [])
        .controller('ValidationCtrl', ['$scope', function($scope) {
        }]);
</script>   -->
<style>
.registerme input.ng-touched, .adduser input.ng-touched, .adduser input.ng-dirty
	{
	border: 2px solid red !important;
	background: url(media/error.png) no-repeat right #fff;
	background-size: 32px;
}

.registerme input.ng-valid, .adduser input.ng-valid {
	border: 2px solid green !important;
	background: url(media/ok.png) no-repeat right #fff;
	background-size: 32px;
}

.download_report {
	text-align: center;
	text-decoration: none;
	font-family: 'Allerta Stencil', sans-serif;
}
</style>
</head>

<body>
	<div class="top_navbar">
		<div class="main_header row">
			<div class="col">
				<div class="navbar navbar-light" style="color: #dddddd;">
					<a href="#!partcipation"><img src="media/icon/logout.png"
						style="width: 46px;"></a>
				</div>
			</div>
			<div class="col">
				<div class="brand_logo">
					<img src="media/bib-white1.png" alt="NOVIA 2019 Brand Logo">
				</div>
			</div>
			<div class="col">
				<div class="user_profile float-right"></div>
			</div>
		</div>
	</div>
	<div class="container register_mod" style="padding-top: 68px">
		<div class="row justify_center">

			<div class="col-sm-12 col-md-12 col-lg-6">
				<div
					class="panel panel-login col-sm-12 col-md-12 col-lg-12 log_panel">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="bootstrap-form needs-validation registerme"
									id="adminFile" name="registerme"
									enctype="multipart/form-data>
        <div class="form-row">
									<div class="col-md-12 mb-3">
										<label style="padding: 0 .75rem;">Upload user list
											(.csv): *</label>
									</div>
									<div class="col-md-12 mb-3">
										<input id="selfile" name="selfile" type="file" accept=".csv" />
									</div>
									<div class="col-lg-12" style="text-align: center;"
										style="margin-bottom: 5px;">
										<span class="" style="color: green; font-weight: bold;">{{successMsg}}</span>
									</div>
									<div class="col-md-12 mb-3">
										<button id="createuser-submit"
											class="form-control btn btn-outline-primary btn"
											ng-click="doUpload()" type="submit">Create users</button>
									</div>
							</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify_center">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div
					class="panel panel-login col-sm-12 col-md-12 col-lg-12 log_panel">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 mb-3">
								<label style="padding: 0 .75rem;">Download Users Report</label>
							</div>
							<div class="col-lg-12">

								<form class="bootstrap-form needs-validation addemp" id="ademp"
									name="addemp">
									<div class="col-md-12 mb-3">
										<a class="download_report form-control"
											href="download/userdump.csv">Download</a>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row justify_center">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div
					class="panel panel-login col-sm-12 col-md-12 col-lg-12 log_panel">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 mb-3">
								<label style="padding: 0 .75rem;">Add Employee</label>
							</div>
							<div class="col-md-12 mb-3">
								<form class="bootstrap-form needs-validation adduser"
									id="adduser" name="adduser">
									<div class="col-md-12 mb-3">
										<input type="number" id="empid" name="empid"
											class="form-control" placeholder="Employee ID" value=""
											ng-model="empid" required />
									</div>
									<div class="col-md-12 mb-3 text-center"
										ng-show="adduser.empid.$dirty && adduser.empid.$invalid">
										<span class="error">Please enter valid employee Number</span>
									</div>
									<div class="col-md-12 mb-3">
										<input type="text" id="firstName" name="firstName"
											class="form-control" placeholder="First Name" value=""
											ng-model="firstName" required />
									</div>
									<div class="col-md-12 mb-3 text-center"
										ng-show="adduser.firstName.$dirty && adduser.firstName.$invalid">
										<span class="error">Please enter First Name</span>
									</div>
									<div class="col-md-12 mb-3">
										<input type="text" id="lastName" name="lastName"
											class="form-control" placeholder="Last Name" value=""
											ng-model="lastName" required />
									</div>
									<div class="col-md-12 mb-3 text-center"
										ng-show="adduser.lastName.$dirty && adduser.lastName.$invalid">
										<span class="error">Please enter Last Name</span>
									</div>
									<div class="col-md-12 mb-3">
										<input type="email" id="emailid" name="emailid"
											class="form-control" placeholder="Email ID" value=""
											ng-model="emailid" required />
									</div>
									<div class="col-md-12 mb-3 text-center"
										ng-show="adduser.emailid.$dirty && adduser.emailid.$invalid">
										<span class="error">Please enter valid Email ID</span>
									</div>
									<div class="col-md-12 mb-3">
										<input type="text" id="shortname" name="shortname"
											class="form-control" placeholder="Short Name" value=""
											ng-model="shortname" required />
									</div>
									<div class="col-md-12 mb-3 text-center"
										ng-show="adduser.shortname.$dirty && adduser.shortname.$invalid">
										<span class="error">Please enter short name</span>
									</div>
									<div class="col-md-12 mb-3">
										<select class="form-control" ng-model="gender"
											ng-options="x for x in genderlist"></select>
									</div>
							</div>
							<div class="col-md-12 mb-3">
								<div class="col-md-12 mb-3">
									<button ng-disabled="adduser.$invalid" id="createuser-submit"
										class="form-control btn btn-outline-primary btn"
										ng-click="doAddUser()" type="submit">Add User</button>
								</div>
							</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="row justify_center">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div
					class="panel panel-login col-sm-12 col-md-12 col-lg-12 log_panel">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 mb-3">
								<label style="padding: 0 .75rem;">Delete Employee</label>
							</div>
							<div class="col-lg-12">
								<form class="bootstrap-form needs-validation addemp" id="ademp"
									name="addemp">
									<div class="col-md-12 mb-3">
										<input type="number" id="empid" name="empid"
											class="form-control" placeholder="Employee ID" value=""
											ng-model="userDetails.empid">
									</div>
									<div class="col-md-12 mb-3">
										<button id="createuser-submit"
											class="form-control btn btn-outline-primary btn" ng-click=""
											type="submit">Delete User</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	</div>
	</div>
	<!-- <script type="text/javascript" src="js/bootstrap-filestyle.min.js"></script> -->
	<!-- <script type="text/javascript">
	$('#selfile').filestyle({
		htmlIcon : '<span class="fa fa-folder"></span> ',
		text: ''
	});
</script> -->

</body>
</html>
