<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="../css/gallery-grid.css" rel="stylesheet" media="all">
<link href="../css/main.css" rel="stylesheet" media="all">
</head>

<body>
<!-- Top Header Start -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div>
        <div class="container">
            <div class="row">
                <div class="card profile card col-sm-12 col-md-12 col-lg-12">
                    <img class="user_photo" src="../media/attendee.png" alt="Aniket">
                    <div style="color: #949494;">
                        <h2>Aniket Gupta</h2>
                    </div>
                    <div class="btn_panel">
                        <div class="btn-group">
                            <button class="group_btn"><i class="fa fa-info fa-3x" aria-hidden="true"></i></button>
                            <button class="group_btn"><i class="fa fa-question fa-3x" aria-hidden="true"></i></button>
                            <button class="group_btn"><i class="fa fa-asterisk fa-3x" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="main_panel">
                        <button class="profile_btn profile_btn_acc col-sm-12 col-md-12 col-lg-12" data-toggle="collapse" data-target="#event_pass">Event Pass</button>
                        <div id="event_pass" class="collapse show" aria-expanded="true">
                            <div>
                                <img src="../media/qrcode.png" alt="" style="width:200px">
                            </div>
                        </div>
                    </div>
                
                    <div class="main_panel">
                        <button class="profile_btn profile_btn_acc col-sm-12 col-md-12 col-lg-12" data-toggle="collapse" data-target="#flight" aria-expanded="true" aria-controls="collapseOne">Flight Details</button>
                        <div id="flight" class="collapse show">
                            <hr class="separator flight">
                            <p> Flight Number - MAXYZ-1234</p>
                            <p> Flight Time - 12-12-2019 - 11.00PM</p>
                            <p> From - Kolkata  To - Mumbai</p>
                        </div>
                    </div>
                    
                    <div class="main_panel">
                        <button class="profile_btn profile_btn_acc col-sm-12 col-md-12 col-lg-12" data-toggle="collapse" data-target="#accomodation">City Tour</button>
                        <div id="accomodation" class="collapse show">
                            <hr class="separator flight">
                            <p> -------------------------------</p>
                            <p> -------------------------------</p>
                            <p> -------------------------------</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header End -->
<div class="container gallery-container">

    <div class="tz-gallery">
        <div class="row">
                <form class="col-sm-12 col-md-12 col-lg-12">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </form>
        </div>
        <div class="row">
                            <div class="row gallery">  
                         <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="../media/park.jpg">
                                <img src="../media/park.jpg" alt="Park">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a class="lightbox" href="../media/bridge.jpg">
                                <img src="../media/bridge.jpg" alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <a class="lightbox" href="../media/tunnel.jpg">
                                <img src="../media/tunnel.jpg" alt="Tunnel">
                            </a>
                        </div>
                                </div>
        </div>



    </div>

</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>
