<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/main.css" rel="stylesheet" media="all">
<script>
	/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
	function openNav() {
		document.getElementById("mySidenav").style.width = "100%";
	}

	/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0%";
	}
</script>
</head>

<body>
	<div id="mySidenav" class="sidenav">
		<div class="mbr-overlay"
			style="opacity: 0.9; background-color: rgb(51, 44, 44);"></div>
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div>
			<div class="container">
				<div class="row">
					<div class="card profile card col-sm-12 col-md-12 col-lg-12">
						`
						<div class="circle">
							<img id="user_photo" class="user_photo"
								ng-src="{{userDetails.photo}}">
							<div class="p-image">
								<label for="file-upload" class="custom-file-upload"> <i
									class="fa fa-cloud-upload" style="width: 128px; height: 128px;"></i>
									Custom Upload
								</label> <input id="file-upload" type="file" accept="image/*" />
							</div>
						</div>


						<h2 style="color: rgb(211, 213, 213);">{{userDetails.firstName}}
							{{userDetails.lastName}}</h2>
						<h5 style="color: rgb(171, 171, 171);">Emp ID:
							{{userDetails.employeeID}}</h5>
						<h6 style="color: rgb(171, 171, 171);">Email ID:
							{{userDetails.emailID}}</h6>
						<div>
							<hr class="separator flight">
							<h4 style="color: #f3f3f3; font-size: large;">EVENT PASS</h4>
							<div class="QR_wrapper">
								<div>
									<!-- <span kendo-qrcode -->
									<!-- k-error-correction="'M'" -->
									<!-- ng-model="qrcode" -->
									<!-- style="height: 250px;" ></span> -->
									<!-- <qr text="qrcodeString"></qr> -->
									<qrcode
										data="{{userDetails.employeeID}}#{{userDetails.registrationNo}}"
										version="2" error-correction-level="Q" size="200" color="#fff"
										background="#000"></qrcode>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Header End -->
	<div class="top_navbar">
		<div class="main_header row">
			<div class="col">
				<div class="navbar navbar-light" style="color: #dddddd;">
					<a href="#!landing"><img src="media/icon/back.png"
						style="width: 46px;"></a>
				</div>
			</div>
			<div class="col">
				<div class="brand_logo">
					<a href="#!landing"><img src="media/bib-white1.png"
						alt="NOVIA 2019 Brand Logo"> </a>
				</div>
			</div>
			<div class="col">
				<div class="user_profile float-right">
					<!-- <img id="user_profile" src="media/attendee.png" onclick="openNav()"> -->
					<img id="user_profile" ng-src="{{userDetails.photo}}"
						onclick="openNav()">
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="padding-top: 68px">
		<div class="row">
			<div
				class="panel panel-login col-sm-12 col-md-12 col-lg-12 log_panel panel_update">
				<div class="form-group">
					<p class="main_header_body">Update Your Gift Details</p>
					<hr class="separator">
				</div>

				<div class="panel-heading"></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form class="bootstrap-form">
								<div class="form-row">
									<div class="col-md-12 mb-3">
										<label class="reg_label">Saregama Caravaan *</label>
									</div>
									<div class="col-md-12 mb-3">

										<select class="form-control" placeholder="" ng-model="gift1">
											<option value="Hindi">Hindi</option>
											<option value="Tamil">Tamil</option>
											<option value="Telugu">Telugu</option>
											<option value="Subbulakshmi">Subbulakshmi</option>
											<option value="Hindi_Devotional">Hindi_Devotional</option>
											<option value="Gurbani">Gurbani</option>
										</select>
									</div>

									<div class="col-md-12 mb-3">
										<label class="reg_label">Saregama Music Card *</label>
									</div>
									<div class="col-md-12 mb-3">
										<select class="form-control" ng-model="gift2">
											<option value="Category1">Category1</option>
											<option value="Category2">Category2</option>
											<option value="Category3">Category3</option>
											<option value="Category4">Category4</option>
										</select>
									</div>

									<div class="col-md-12 mb-3">
										<button id="login-submit"
											class="form-control  btn btn-outline-primary btn btn-login"
											type="submit" ng-click="doUpdateGift()">Save my
											gifts</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>




			</div>
</body>
</html>
