<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link href="css/main.css" rel="stylesheet" media="all"> -->

    <script>
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
      function openNav() {
          document.getElementById("mySidenav").style.width = "100%";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
      function closeNav() {
          document.getElementById("mySidenav").style.width = "0%";
      }

      $(document).ready(function(){
          var win_height=  $( window ).height()
          $(".mbr-overlay").css("height", win_height);
      });
    </script>

  </head>

  <body class="overlay">

    <div id="mySidenav" class="sidenav">
        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(51, 44, 44);">
          </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div>
            <div class="container">
              <div class="row">
                <div class="card profile card col-sm-12 col-md-12 col-lg-12">
                  <img class="user_photo" src="media/attendee.png" alt="Anup">
                  <h2 style="color: rgb(211, 213, 213);">{{userDetails.firstName}} {{userDetails.lastName}}</h2>
                  <h5 style="color: rgb(171, 171, 171);">Emp ID: {{userDetails.employeeID}}</h5>
                  <h6 style="color: rgb(171, 171, 171);">Email ID: {{userDetails.emailID}}</h6>
                  <div>
                          <hr class="separator flight">
                          <h4 style="color: #f3f3f3;font-size: large;">EVENT PASS</h4>
                        <div class="QR_wrapper">
                          <div>
                            <!-- <span kendo-qrcode -->
                            <!-- k-error-correction="'M'" -->
                            <!-- ng-model="qrcode" -->
                            <!-- style="height: 250px;" ></span> -->
                            <!-- <qr text="qrcodeString"></qr> -->
                            <qrcode data="{{userDetails.employeeID}}#{{userDetails.registrationNo}}" version="2" error-correction-level="Q" size="200" color="#fff" background="#000"></qrcode>
                          </div>
                          </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Top Header End -->
    <div class="top_navbar">
      <div class="main_header row">
        <div class="col">
            <div class="navbar navbar-light" style="color: #dddddd;">
              <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false" aria-label="Toggle navigation"><span><i class="fa fa-bars" style="font-size:36px"></i></span></button>
            </div>
        </div>
        <div class="col">
            <div class="brand_logo">
                <a href="#!landing"><img src="media/bib-white1.png" alt="TCS50 Brand Logo"> </a>
            </div>
        </div>
        <div class="col">
            <div class="user_profile float-right">
                <img src="media/attendee.png" onclick="openNav()">
            </div>
        </div>
      </div>
    </div>


    <!-- Navigation -->
    <nav class="bg-main-menu" style="padding-top:68px">
      <div class="container main_header">
        <div class="row">
          <!-- Collapsible content -->
          <div class="collapse navbar-collapse main_menu_item" id="navbarSupportedContent41">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="liveupdate.html">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help.html">LOG OUT</a>
              </li>
            </ul>
            <!-- Links -->

          </div>
          <!-- Collapsible content -->
        </div>
      </div>
    </nav>


    <div class="container">

      <div class="row">
        <!--Navbar-->

      </div>
      <div class="row">
        <div class="card col">
          <a href="#!flight">
            <figure class="front">
              <img src="media/icon/ico_flight.png" alt="front">
              <div class="caption">
                <h2 style="background-color:  rgba(61, 61, 148, 0.85);">Flight</h2>
              </div>
            </figure>
          </a>

        </div>
        <div class="card col">
          <a href="#!help">
            <figure class="front">
              <img src="media/icon/ico_help.png" alt="front">
              <div class="caption">
                <h2 style="background-color: rgb(93, 55, 45);">Help</h2>
              </div>
            </figure>
          </a>

        </div>
      </div>
      <div class="row">
        <div class="card col">
          <a href="#!event">
            <figure class="front">
              <img src="media/icon/ico_event.png" alt="front">
              <div class="caption">
                <h2 style="background-color: rgba(139, 19, 39, 0.74);">Event</h2>
              </div>
            </figure>
          </a>
        </div>
        <div class="card col">
          <a href="#!attendee">
            <figure class="front">
              <img src="media/icon/ico_attendee.png" alt="front">
              <div class="caption">
                <h2 style="background-color: rgba(152, 120, 40, 0.81);">Attendee</h2>
              </div>
            </figure>
          </a>

        </div>
      </div>
      <div class="row">

        <div class="card col">
          <a href="#!gallery">
            <figure class="front">
              <img src="media/icon/ico_gallery.png" alt="front">
              <div class="caption">
                <h2 style="background-color: rgba(111, 30, 123, 0.81);">Gallery</h2>
              </div>
            </figure>
          </a>

        </div>
        <div class="card col">
          <a href="#!map">
            <figure class="front">
              <img src="media/icon/ico_map.png" alt="front">
              <div class="caption">
                <h2 style="background-color: rgba(45, 114, 119, 0.82);">Map</h2>
              </div>
            </figure>
          </a>

        </div>
      </div>
      <div class="row">
        <div class="card col">
          <a href="#!quiz">
            <figure class="front">
              <img src="media/icon/ico_quiz.png" alt="front">
              <div class="caption">
                <h2 style="background-color: rgba(74, 93, 27, 0.89);">Quiz</h2>
              </div>
            </figure>
          </a>

        </div>
        <div class="card col">
          <a href="#!crossword">
            <figure class="front">
              <img src="media/icon/ico_crossword.png" alt="front">
              <div class="caption">
                <h2 style="background-color: rgba(151, 77, 97, 0.83);">Crossword</h2>
              </div>
            </figure>
          </a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
