<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <link href="css/main.css" rel="stylesheet" media="all"> -->
</head>

<body>
<div class="top_navbar">
  <div class="main_header row">
    <div class="col">
        <div class="navbar navbar-light" style="color: #dddddd;">

        </div>
    </div>
    <div class="col">
        <div class="brand_logo">
            <a href="landing.html"><img src="media/bib-white1.png" alt="TCS50 Brand Logo"> </a>
        </div>
    </div>
    <div class="col">
        <div class="user_profile float-right">

        </div>
    </div>
  </div>
</div>

  <div class="container login_mod" style="padding-top:68px">
      <div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-login col-sm-12 col-md-12 col-lg-12 log_panel">
					<div class="panel-heading lock">
                        <img src="media/Lock.png" alt="Lock" style="width:68px;height:68px;box-shadow: 0 1px 5px rgba(0,0,0,0.9); border: 5px solid #fff; border-radius: 37px;"/>
						<div class="row">
							<div class="log">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" name="loginForm" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" ng-model="usrNameVal">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12 justify_center">
													<span class="error ng-hide" ng-show="loginForm.username.$touched &amp;&amp; loginForm.username.$invalid">Required.</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ng-model="usrPwdVal">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12 justify_center">
													<span class="error ng-hide" ng-show="loginForm.password.$touched &amp;&amp; loginForm.password.$invalid">Required</span>
											</div>
										</div>
									</div>
									<!--<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>-->
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<button ng-disabled="loginForm.$invalid" id="login-submit" class="form-control btn btn-login" ng-click="doAuthenticate(usrNameVal, usrPwdVal)"
												type="submit">Log In</button>
											</div>
										</div>
									</div>
									<span class="error">{{errorMsg}}</span>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="javascript:void(0)" tabindex="5" class="forgot-password" ng-click="doResetPassword(usrNameVal)">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
									<hr class="info_sep">
                    <p class="info alert alert-primary">In case of any issue please write to <a href="mailto:support.novia@tcs.com?Subject=Help%20me" target="_top">support.novia@tcs.com</a></p>
						        <hr class="info_sep">
								  </form>
							</div>
						</div>
					</div>
				</div>
			</div>

      </div>
    </div>
</body>
</html>
