<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/main.css" rel="stylesheet" media="all">
    
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    
     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

   <script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }
  
    /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0%";
    }
  </script>

</head>

<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div>
        <div class="container">
          <div class="row">
            <div class="card profile card col-sm-12 col-md-12 col-lg-12">
              <img class="user_photo" src="media/attendee.png" alt="Anup">
              <h2 style="color: rgb(211, 213, 213);">Gaurav Kumar Roy</h2>
              <h5 style="color: rgb(171, 171, 171);">Emp ID: 556655</h5>
              <h6 style="color: rgb(171, 171, 171);">Email ID: gaurav.roy@tcs.com</h6>
              <div>
                      <hr class="separator flight">
                      <h4>EVENT PASS</h4>
                    <div class="QR_wrapper">
                      <div>
                          <img src="media/qrcode.png" alt="" style="width:200px">
                      </div>
                      </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- Top Header End -->
<div class="top_navbar">
  <div class="main_header row">
    <div class="col">
        <div class="navbar navbar-light" style="color: #dddddd;">
          <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false" aria-label="Toggle navigation"><span><i class="fa fa-bars" style="font-size:36px"></i></span></button>
        </div>
    </div>
    <div class="col">
        <div class="brand_logo">
            <a href="landing.html"><img src="media/bib-white1.png" alt="TCS50 Brand Logo"> </a>
        </div>
    </div>
    <div class="col">
        <div class="user_profile float-right">
            <img src="media/attendee.png" onclick="openNav()">
        </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="bg-main-menu" style="padding-top:68px">
  <div class="container main_header">
    <div class="row">
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse main_menu_item" id="navbarSupportedContent41">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="liveupdate.html">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="help.html">LOG OUT</a>
          </li>
        </ul>
        <!-- Links -->

      </div>
      <!-- Collapsible content -->
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
     <div id="vedic"> </div>
    <script>
    
   var mymap = L.map('vedic').setView([51.505, -0.09], 13);
        
        
       var circle = L.circle([51.508, -0.11], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 500
        }).addTo(mymap);

    </script>
        
    </div>


</div>
</body>
</html>
