<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Advent+Pro"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>

	<div class="container login_mod" style="padding-top: 68px">
		<div class="row justify_center"><div id="question-container" class="panel panel-login col-sm-12 col-md-12 col-lg-12 log_panel">
  		<script id="ui-template-quiz" type="x-tmpl-mustache">
    <div>
      <span id="questionID">{{questionID}}</span>
      <h4 class="question-statement">{{{questionText}}} </h4>
    </div>
    <div class="modal-body">
      <div class="quiz" id="quiz" data-toggle="buttons">
        <label class="element-animation1 btn btn-lg btn-info btn-block"><input type="radio" name="q_answer" value="{{optionA}}"/> {{optionA}}</label>
        <label class="element-animation1 btn btn-lg btn-info btn-block"><input type="radio" name="q_answer" value="{{optionB}}"/> {{optionB}}</label>
        <label class="element-animation1 btn btn-lg btn-info btn-block"><input type="radio" name="q_answer" value="{{optionC}}"/> {{optionC}}</label>
        <label class="element-animation1 btn btn-lg btn-info btn-block"><input type="radio" name="q_answer" value="{{optionD}}"/> {{optionD}}</label>
      </div>
    </div>
    <div>
      <button type="button" class="js-submit-answer">Lock your answer</button>
    </div>
  		</script>

	  <script id="ui-template-quiz-inactive" type="x-tmpl-mustache">
    <div>
      <img alt="quiz not available" src="media/Quiz404.jpg" width="100%" height="100%" />
      <div>
        <strong>{{questionUnavailbleText}}</strong>
      </div>
    </div>
  	</script>

</div>
</div>



	</div>
</body>
</html>
