<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" media="all">
    <script>
   
        
        $(document).ready(function(){
            
            var win_height=  $( window ).height()
            $(".welcome_body").css("height", win_height);
            $(".mbr-overlay").css("height", win_height);
        });
    
    </script>
</head>

<body class="welcome_body" >
    <div class="mbr-overlay" style="opacity: 0.9;background-color: rgba(51, 44, 44);">
    </div>
    <div class="top_navbar container" style="height: 140px;">
		<div class="main_header row">
				<div class="col">
						<div class="brand_logo">
								<a href="#!landing"><img src="media/bib-white1.png" alt="TCS50 Brand Logo"> </a>
						</div>
				</div>
		</div>
</div>
    
    <hr class="separator_welcome" style="border-top: 1px solid #fff;">
    
    <div class="wrapper_welcome container align-middle">
        <header class="masthead">
    <div class="col-sm-12 col-md-12 col-lg-12">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 center_text">
      <p class="text-white-75 font-weight-light mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta ante nec venenatis pretium. Suspendisse potenti. Pellentesque et erat quis neque commodo hendrerit.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#!login">Begin Journey</a>
    </div>
</header>
    
    </div>

      
  <!--<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>©2019 Tata Consultancy Services Limited. All Rights Reserved.</small>
    </div>
  </footer>-->
</body>

</html>
<!-- end document-->