<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Advent+Pro"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100"
	rel="stylesheet">
<link href="css/main.css" rel="stylesheet" media="all">
<script>
	$(document).ready(function() {

		var win_height = $(window).height()
		//    $(".welcome_body").css("height", win_height);
		//  $(".mbr-overlay").css("height", win_height);

		//$(".begin_journey").click(function() {
			//window.location = "#!partcipation";
			//$('#modal_long').modal('show');
		//});

		/* $(".agree").click(function() {
			window.location = "#!login"
		});
		$(".disagree").click(function() {
		}); */
	});
</script>
<style>
#sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7vh;
	padding: 7px 0;
	background-color: #f5f5f5;
	color: #fff;
	font-size: 5vw;
}

header.masthead h1.banner_text {
	font-family: 'Arima Madurai', cursive;
	color: aliceblue;
	font-size: 6vw;
}
</style>
</head>

<body>
	<div class="welcome_screen mobile_ver">
		<!--<div class="mbr-overlay" style="opacity: 0.9;background-color: rgba(51, 44, 44);">
    </div>-->
		<img src="media/novia_bg3.png" style="height: 100%;">
		<div class="top_navbar" style="height: 25vh;">
			<div class="main_header row">
				<div class="col">
					<div class="navbar navbar-light" style="color: #dddddd;"></div>
				</div>
				<div class="col">
					<div class="brand_logo">
						<img src="media/bib-white1.png" alt="NOVIA 2019 Brand Logo">
					</div>
				</div>
				<div class="col">
					<div class="user_profile float-right"></div>
				</div>
			</div>
		</div>


		<div class="wrapper_welcome container align-middle" style="top: 28vh;">
			<header class="masthead">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1 class="banner_text">Welcome to Novia 2019</h1>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 center_text">
					<p class="text-white-75 font-weight-light mb-5"></p>
					<a class="btn btn-primary btn-xl js-scroll-trigger begin_journey"
						href="#!partcipation">Begin Journey</a>
				</div>
				<!-- <div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a style="font-weight:bold;color:#fff;margin-top:10px;" href="https://www.tcs.com/privacy-policy" target="_blank"
                                                       >Privacy Policy</a>
                                                    
                                                    
												</div>
											</div>
										</div>
									</div>-->
			</header>

		</div>

	</div>


	<div class="welcome_desktop desttop_ver">
		<div class="top_navbar">
			<div class="main_header row">
				<div class="col">
					<div class="navbar navbar-light" style="color: #dddddd;"></div>
				</div>
				<div class="col">
					<div class="brand_logo">
						<img src="media/bib-white1.png"
							alt="NOVIA 2019 Brand Logo">
					</div>
				</div>
				<div class="col">
					<div class="user_profile float-right"></div>
				</div>
			</div>
		</div>

		<div class="container login_mod" style="padding-top: 68px">
			<div class="row justify_center">
				<div class="col-sm-12 col-md-12 col-lg-12">

					<!---Welcome desktop starts---->
					<div class="">
						<div class="container align-middle" style="top: 28vh;">
							<header class="masthead" style="margin-top: 108px;">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<h1 class="banner_text" style="font-size: 40px;font-weight:bold;color: #5f263e;">Welcome to Novia 2019</h1>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12 center_text">
									<p class="text-white-75 font-weight-light mb-5"></p>
									<a class="btn btn-primary btn-xl js-scroll-trigger begin_journey"
										href="#!partcipation">Begin Journey</a>
								</div>
							</header>
						</div>
					</div>
					<!---Welcome desktop ends---->

				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modal_long" tabindex="-1" role="dialog"
		aria-labelledby="modal_longTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal_longTitle">Privacy Policy</h5>

				</div>
				<div class="modal-body privacy">
					<div id="text-block-11" class="mk-text-block   ">
						<p>Please accept our privacy policy</p>
						<p>
							<a href="https://www.tcs.com/privacy-policy" target="_blank">Click
								Here</a> to know the privacy statement.
						</p>



						<div class="clearboth"></div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary agree"
						data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-primary disagree"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<!-- end document-->